@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

.classes {
  background-image: url("/public/bg3.png");
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;  
}

.button {
  transition: all 0.5s;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  letter-spacing: 0.05rem;
}

.button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.active {
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.2);
  border-bottom: 2.5px solid #1d4ed8;
}

.firstElement {
  opacity: 1;
  transform: translateY(-50px);
  transition: all 1s ease-out;
}

.secondElement {
  opacity: 0;
  transform: translateY(25px);
  transition: all 1s ease-out;
}

.thirdElement {
  opacity: 0;
  transform: translateY(25vh);
  transition: all 1s ease-out;
}

.firstElement.fade-out {
  opacity: 0;
  transform: translateY(0px);
  transition: all 1s ease-out;
}

.secondElement.fade-in {
  opacity: 1;
  transform: translateY(-200px);
  transition: all 1s ease-out;
}

.thirdElement.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s ease-out;
}
